button {
    margin-top: 15px;
}

.btn {
    padding: 15px 20px;
    background-color: black;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-family: inherit;
}

.btn:hover {
    opacity: .8;
}