.info {
    display: flex;
    align-items: center;
}

.avatar {
    margin: 0 30px 0 0;
    border-radius: 30px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    width: 200px;
}

.info-text P {
    font-size: 14px;
    font-style: italic;
    font-weight: 900;
    color: #616161;
}

h1 {
    margin-bottom: 15px;
}

h4 {
    margin-top: 10px;
    font-size: 14px;
}

/* /info */

a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #800000;
}

a:active {
    color: blue;
}

/* links */